<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="97c064">  <td>20/06/19 16:09:06</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;FormsTest.testSetup()[pri:0, instance:testcases.FormsTest@26653222]">&gt;&gt;testSetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1179381257</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>20/06/19 16:09:19</td>   <td>13172</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FormsTest.templateTest()[pri:0, instance:testcases.FormsTest@26653222]">templateTest</td> 
  <td>main@1179381257</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>20/06/19 16:12:35</td>   <td>209101</td> <td>&nbsp;</td><td title="&lt;&lt;FormsTest.testClose()[pri:0, instance:testcases.FormsTest@26653222]">&lt;&lt;testClose</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1179381257</td>   <td></td> </tr>
</table>
